<!--The custom CSS to aid the html to recreate the website-->

header {
	width: 100%;
}

p{
	font-family: 'Lora';
	font-size: 20px;
}

article{
	font-family: 'Lora';
}

h1 {
	font-family: 'Open Sans';
}

h2 {
	font-family: 'Open Sans';
} 

h3 {
	font-family: 'Open Sans';
}

h4 {
	font-family: 'Open Sans';
}

h5 {
	font-family: 'Open Sans';
}

.paragraph-heading {
	font-family:'Open Sans';
	font-size: 34px;
	font-weight:bolder;
}

.blockquote {
	font-family: 'Lora';
	font-size: 18px;
	font-style: italic;
	font-weight: 100;
}
